doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, width=device-width")
    meta(name="description", content="Simple sudoku puzzle generator with valid solution.")
    title Sudoku Puzzle
    link(rel="stylesheet" href="./styles.css")
    script(src="../src/sudoku.js")
    script(src="../src/main.js") 
  body
    header
      .theme-setting
        span Theme
        .theme(onclick="toggleTheme()" role="button" aria-pressed="false" aria-label="Change theme")
    main
      h1 Sudoku
      .sudoku(aria-hidden="true")
        - for (var i = 0; i < 3; i++)
          .row
            - for (var j = 0; j < 3; j++)
              .grid
                - for (var x = 0; x < 9; x++)
                  if (x % 3 == 0)
                    .row
                      .cell(onclick="editContent(event)" data-row=(x / 3) + (3 * i) data-col=(x % 3) + (3 * j) tab-index="0")
                      .cell(onclick="editContent(event)" data-row=(x / 3) + (3 * i) data-col=((x + 1) % 3) + (3 * j))
                      .cell(onclick="editContent(event)" data-row=(x / 3) + (3 * i) data-col=((x + 2) % 3) + (3 * j))
        .complete
          p Complete
      .btns
        button.reset(onclick="reset()") Reset
        button(style="float: right" onclick="newGame()") New Game
      div(style="clear: both")
    footer
      p Developed with passion and 
        span(style="color: purple") â¤
        | . &copy; devsrg